@using Festival.Client.Service
@using Festival.Shared.Models
@using Festival.Shared.Views;
@using System.Net
@using System.Diagnostics
@page "/vagtplan"

<PageTitle>Vagt Plan</PageTitle>

<h3>Vagt Plan</h3>

<table class="table"> @*Oprettelse af tabel til at udskrive en oversigt af alle besatte vagter*@
    <tr id="titler"> @*Tabellens overskrifter*@
        <th>Vagt ID</th>
        <th>Starttid</th>
        <th>Sluttid</th>
        <th>Dato</th>
        <th>Vagttype</th>
        <th>Opgavenavn</th>
        <th>Opgavebeskrivelse</th>
        <th>Person ID</th>
        <th>Navn</th>
    </tr>

    @foreach (var item in BesatteVagter) //looper igennem listen og indsætter i tabellen
    {
        <tr>
            @if (@item.PersonID < 1) //item fra BesatteVagter indsættes IKKE i listen hvis PersonID < 1
            {
            }
            else
            {
                <td>@item.VagtID</td>
                <td>@item.StartTid.ToString("HH:mm")</td> @*ToString metode til af udskrive tid og datoen mere læsbart*@
                <td>@item.SlutTid.ToString("HH:mm")</td>
                <td>@item.Dato.ToString("dd'/'MM")</td> 
                <td>@item.Type</td>
                <td>@item.OpgaveNavn</td>
                <td>@item.Beskrivelse</td>
                <td>@item.PersonID</td>
                <td>@item.Navn</td>
            }
        </tr>
    }
</table>



@code {

    [Inject]
    public IVagtService VagtService { get; set; }

    private List<VagtView> BesatteVagter = new List<VagtView>();
    private int ErrorCode { get; set; } = 0;

    protected override async Task OnInitializedAsync() //Når initialiseret sker koden inde i denne metode
    {
        Console.WriteLine("kalder api/vagt");
        BesatteVagter = (await VagtService.GetAllVagter()).ToList(); //Henter vagter(data) og indsætter i en listen.
    }
} 