@using Festival.Client.Service
@using Festival.Shared.Models
@using Festival.Shared.Views;
@using System.Net
@using System.Diagnostics
@page "/vagtplan"

<PageTitle>Vagt Plan</PageTitle>

<h3>Vagt Plan</h3>

<table class="table">

    <tr id="titler">
        <th>Vagt ID</th>
        <th>Starttid</th>
        <th>Sluttid</th>
        <th>Dato</th>
        <th>Vagttype</th>
        <th>Opgavenavn</th>
        <th>Opgavebeskrivelse</th>
        <th>Person ID</th>
        <th>Navn</th>
    </tr>

    @foreach (var item in BesatteVagter) //loop
    {
        <tr>
            @if (@item.PersonID < 1)
            {
            }
            else
            {
                <td>@item.VagtID</td>
                <td>@item.StartTid.ToString("HH:mm")</td>
                <td>@item.SlutTid.ToString("HH:mm")</td>
                <td>@item.Dato.ToString("dd'/'MM")</td>
                <td>@item.Type</td>
                <td>@item.OpgaveNavn</td>
                <td>@item.Beskrivelse</td>
                <td>@item.PersonID</td>
                <td>@item.Navn</td>
            }
        </tr>
    }
</table>



@code {

    [Inject]
    public IVagtService VagtService { get; set; }

    private List<VagtView> BesatteVagter = new List<VagtView>();
    private int ErrorCode { get; set; } = 0;
    private Vagt VagtStatus = new Vagt();
    private EditContext EditContext;
    private String[] StatusValg = { "Planlagt", "Igangværende", "Udført" };

    protected override async Task OnInitializedAsync() //metode lidt ligesom ToString(), fra "componentbase" som kan overrides
    {
        Console.WriteLine("kalder api/vagt");
        BesatteVagter = (await VagtService.GetAllVagter()).ToList(); //henter data og indsætter i Item listen. Bemærk paranteserne er vigtige her.
    }
} 